/JavaApplication2/nbproject/private/
/Model/nbproject/private/
/MyProfile/src/com/ishan/moviebooking/model/nbproject/private/

/MyProfile/src/com/ishan/moviebooking/view/Frontend/nbproject/private/
/MyProfile/src/com/ishan/moviebooking/view/Frontend/build/
/MyProfile/src/com/ishan/moviebooking/controller/MovieController/nbproject/private/
/MyProfile/src/com/ishan/moviebooking/db/DBConnection/DBConnection/nbproject/private/
/MyProfile/src/com/ishan/moviebooking/db/Movie_data/nbproject/private/
